/**
 * @file
 * SCSS file to generate CSS.
 *
 * Layout SCSS.
 */
@import 'abstractions/variable';
@import 'abstractions/mixins';
@import 'abstractions/typography';

.blog__share {
  position: relative;
  margin-bottom: 65px;
  .social-color-icons {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -70px;
  }
  .blog__img {
    text-align: center;
  }
}

/* Blog description design */
.blog-wraper-main {
  .field-description {
    p {
      display: inline-block;
      width: 100%;
      margin: 0;
      color: $black-4a;
      font-size: $font-size-17;
      line-height: 27px;
      @extend .blue-link;
      a {
        display: inline-block;
      }
    }
  }
}

/* Related blog grid design*/
.related__blogs {
  margin-bottom: 65px;
  .page-title {
    width: 100%;
    border-bottom: none;
  }
}
