/**
 * @file
 * SCSS file to generate CSS.
 *
 * Home page SCSS.
 */

/* Latest work section design */
.latest-work-wrap {
  .section-title {
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  .latest-work-grid {
    @media (max-width: 767px) {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.front-latest-blog-title {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 15px;
  @media (max-width: 1200px) {
    width: 970px;
  }
  @media (max-width: 992px) {
    width: 750px;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
  .section-title {
    margin-top: 0;
    margin-bottom: 0;
  }
}
