<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>All Components</title>

    <!-- Bootstrap -->
    <link href="../assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>Components</h1>


    <!-- Banner -->
    <h2>Banner section</h2>
    <div class="top-banner">
      <div class="banner__img">
        <img src="" alt="Image" />
      </div>
      <div class="banner__title">
        <h2></h2>
      </div>
      <div class="banner__txt">
        
      </div>
    </div>
    <!-- End -->


    <!-- Filter -->
    <h2>Filter section</h2>
    <div class="filter">
      <div class="filter__links">
        <ul>
          <li>
            <label class="control-label option active">
              <input class="form-radio" type="radio" name="field" value="All" checked="checked">All Jobs
            </label>
          </li>
          <li>
            <label class="control-label option">
              <input class="form-radio" type="radio" name="field" value="Developer" checked="checked">Developer
            </label>
          </li>
          <li>
            <label class="control-label option">
              <input class="form-radio" type="radio" name="field" value="Designer" checked="checked">Designer
            </label>
          </li>
          <li>
            <label class="control-label option">
              <input class="form-radio" type="radio" name="field" value="Quality Analyst" checked="checked">Quality Analyst
            </label>
          </li>
          <li>
            <label class="control-label option">
              <input class="form-radio" type="radio" name="field" value="Business Development" checked="checked">Business Development
            </label>
          </li>
        </ul>
      </div> <!-- /.filter-links -->

      <div class="filter__content">
        <div class="filter__item">
          <div class="filter__item-img">
            <img src="">
          </div>
          <div class="filter__item-body">
            <div class="social-media">
              <a href="#" class="btn btn-switch">Social</a>
              <a href="#" class="btn btn-switch">Social</a>
            </div>
            <h2>FRONT END DEVELOPER</h2>
            <span class="filter__item-technology">PHP</span>
            <div class="filter__item-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
            <div class="filter__item-progress">
              <div class="content">
                <div class="filter__item-progress__title">Designing</div>
                <div class="progress">
                  <div class="progress__percentage">50%</div>
                  <div class="progress__bar">
                    <div class="bar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- /.filter-content -->
    </div> <!-- /.filter -->
    <!-- End -->


    <!-- Header -->
    <h2>Main Header section (Site header)</h2>
    <iframe src="header.html"></iframe>
    <!-- End -->


    <!-- Footer -->
    <h2>Footer section</h2>
    <iframe src="footer.html" style="min-height: 500px;"></iframe>
    <!-- End -->


    <!-- jQuery library -->
    <script src="../assets/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/all.min.js"></script>
  </body>
</html>
