    <!-- <div class="footer"> -->
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 footer-quicklink grey-text">
            <h3 class="title-border">Quick Links</h3>
            <ul class="text-slide">
              <li><a href="javascript:void(0)">About Us</a></li>
              <li><a href="javascript:void(0)">Careers</a></li>
              <li><a href="javascript:void(0)">Contact</a></li>
              <li><a href="javascript:void(0)">Hire Developer</a></li>
              <li><a href="javascript:void(0)">Portfolio</a></li>
              <li><a href="javascript:void(0)">Services</a></li>
              <li><a href="javascript:void(0)">Sitemap</a></li>
            </ul>
            <div class="nap-code blue-link">
              <div>
                <img src="../assets/images/small-logo.png">
                <a href="javascript:void(0)">Addweb Solution</a>
              </div>
              <div>
                <strong>Address:</strong>
                <p>405, Silicon Tower, Above Freezland Restaurant, Law Garden, Off C.G. road,<br>Ahmedabad,<br>Gujarat - 380009<br>India.</p>
                <strong>Tel : </strong>
                <span><a href="javascript:void(0)">+91-903-317-7471</a></span><br>
                <strong>Email : </strong>
                <span><a href="javascript:void(0)">contact@addwebsolution.com</a></span>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 grey-text">
            <h3 class="title-border">Follow Us</h3>
            <iframe src=""></iframe>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 tag-cloud">
            <h3 class="title-border">Tag Cloud</h3>
            <ul>
              <li><a href="javascript:void(0)">LINUX</a></li>
              <li><a href="javascript:void(0)">SOCIAL SHARING</a></li>
              <li><a href="javascript:void(0)">SUB DOMAIN</a></li>
              <li><a href="javascript:void(0)">IONIC2</a></li>
              <li><a href="javascript:void(0)">JAVASCRIPT</a></li>
              <li><a href="javascript:void(0)">PARALLAX EFFECT</a></li>
              <li><a href="javascript:void(0)">IPAD</a></li>
              <li><a href="javascript:void(0)">ROOT PERMISSION</a></li>
              <li><a href="javascript:void(0)">DOMAIN ACCESS</a></li>
              <li><a href="javascript:void(0)">HIRE DRUPAL DEVELOPER INDIA</a></li>
              <li><a href="javascript:void(0)">MAGENTO EXTENSION</a></li>
              <li><a href="javascript:void(0)">HTML5</a></li>
              <li><a href="javascript:void(0)">CROSS BROWSER & CROSS PLATFORM</a></li>
              <li><a href="javascript:void(0)">DESIGN</a></li>
              <li><a href="javascript:void(0)">WOMEN IN TECH</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 blue-link">
            <h3 class="title-border">Get In Touch</h3>
            <ul class="text-slide">
              <li class="icon skype-icon"><a href="javascript:void(0)">add.websolution</a></li>
              <li class="icon email-icon"><a href="javascript:void(0)">contact@addwebsolution.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    <!-- </div> -->