<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Footer</title>

    <!-- Bootstrap -->
    <link href="../assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 footer-quicklink grey-text">
            <h3 class="title-border">Quick Links</h3>
            <ul class="text-slide">
              <li><a href="javascript:void(0)">About Us</a></li>
              <li><a href="javascript:void(0)">Careers</a></li>
              <li><a href="javascript:void(0)">Contact</a></li>
              <li><a href="javascript:void(0)">Hire Developer</a></li>
              <li><a href="javascript:void(0)">Portfolio</a></li>
              <li><a href="javascript:void(0)">Services</a></li>
              <li><a href="javascript:void(0)">Sitemap</a></li>
            </ul>
            <div class="nap-code blue-link">
              <div>
                <img src="../assets/images/small-logo.png">
                <a href="javascript:void(0)">Addweb Solution</a>
              </div>
              <div>
                <strong>Address:</strong>
                <p>405, Silicon Tower, Above Freezland Restaurant, Law Garden, Off C.G. road,<br>Ahmedabad,<br>Gujarat - 380009<br>India.</p>
                <strong>Tel : </strong>
                <span><a href="javascript:void(0)">+91-903-317-7471</a></span><br>
                <strong>Email : </strong>
                <span><a href="javascript:void(0)">contact@addwebsolution.com</a></span>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 grey-text">
            <h3 class="title-border">Follow Us</h3>
            <iframe src=""></iframe>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 tag-cloud">
            <h3 class="title-border">Tag Cloud</h3>
            <ul>
              <li><a href="javascript:void(0)">LINUX</a></li>
              <li><a href="javascript:void(0)">SOCIAL SHARING</a></li>
              <li><a href="javascript:void(0)">SUB DOMAIN</a></li>
              <li><a href="javascript:void(0)">IONIC2</a></li>
              <li><a href="javascript:void(0)">JAVASCRIPT</a></li>
              <li><a href="javascript:void(0)">PARALLAX EFFECT</a></li>
              <li><a href="javascript:void(0)">IPAD</a></li>
              <li><a href="javascript:void(0)">ROOT PERMISSION</a></li>
              <li><a href="javascript:void(0)">DOMAIN ACCESS</a></li>
              <li><a href="javascript:void(0)">HIRE DRUPAL DEVELOPER INDIA</a></li>
              <li><a href="javascript:void(0)">MAGENTO EXTENSION</a></li>
              <li><a href="javascript:void(0)">HTML5</a></li>
              <li><a href="javascript:void(0)">CROSS BROWSER & CROSS PLATFORM</a></li>
              <li><a href="javascript:void(0)">DESIGN</a></li>
              <li><a href="javascript:void(0)">WOMEN IN TECH</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 blue-link">
            <h3 class="title-border">Get In Touch</h3>
            <ul class="text-slide">
              <li class="icon skype-icon"><a href="javascript:void(0)">add.websolution</a></li>
              <li class="icon email-icon"><a href="javascript:void(0)">contact@addwebsolution.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery library -->
    <script src="../assets/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/site.min.js"></script>
  </body>
</html>
