<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Grid</title>

    <!-- Bootstrap -->
    <link href="../assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="section-title">LATEST WORK</h2>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="grey-border">
            <img src="../assets/images/hk_1.png">
          </div>
          <h3 class="blue-link text-center">
            <a href="javascript:void(0)">Ionic HK Application</a>
          </h3>
          <div class="blue-link texonomy-tearms text-center">
            <a href="javascript:void(0)">Angularjs</a>
            <a href="javascript:void(0)">Education</a>
            <a href="javascript:void(0)">Experience</a>
            <a href="javascript:void(0)">Goal</a>
            <a href="javascript:void(0)">Hybrid App Development</a>
            <a href="javascript:void(0)">Ionic</a>
            <a href="javascript:void(0)">Mentor</a>
            <a href="javascript:void(0)">Social Login</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="grey-border">
            <img src="../assets/images/hk_1.png">
          </div>
          <h3 class="blue-link text-center">
            <a href="javascript:void(0)">Ionic HK Application</a>
          </h3>
          <div class="blue-link texonomy-tearms text-center">
            <a href="javascript:void(0)">Angularjs</a>
            <a href="javascript:void(0)">Education</a>
            <a href="javascript:void(0)">Experience</a>
            <a href="javascript:void(0)">Goal</a>
            <a href="javascript:void(0)">Hybrid App Development</a>
            <a href="javascript:void(0)">Ionic</a>
            <a href="javascript:void(0)">Mentor</a>
            <a href="javascript:void(0)">Social Login</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="grey-border">
            <img src="../assets/images/hk_1.png">
          </div>
          <h3 class="blue-link text-center">
            <a href="javascript:void(0)">Ionic HK Application</a>
          </h3>
          <div class="blue-link texonomy-tearms text-center">
            <a href="javascript:void(0)">Angularjs</a>
            <a href="javascript:void(0)">Education</a>
            <a href="javascript:void(0)">Experience</a>
            <a href="javascript:void(0)">Goal</a>
            <a href="javascript:void(0)">Hybrid App Development</a>
            <a href="javascript:void(0)">Ionic</a>
            <a href="javascript:void(0)">Mentor</a>
            <a href="javascript:void(0)">Social Login</a>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery library -->
    <script src="../assets/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/site.min.js"></script>
  </body>
</html>
