    <div class="main-header white-text">
      <div class="pre-header">
        <div class="container">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <ul class="header-contact-wrap">
                <li class="icon flag-icon"><a href="javascript:void(0)">+1-210-346-9359</a></li>
                <li><a href="javascript:void(0)">contact@addwebsolution.com</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
              <ul class="social-icons social-animation-icons">
                <li class="drupal"><a href="javascript:void(0)" title="Drupal">drupal</a></li>
                <li class="facebook"><a href="javascript:void(0)" title="Facebook">facebook</a></li>
                <li class="googleplus"><a href="javascript:void(0)" title="Googleplus">googleplus</a></li>
                <li class="skype"><a href="javascript:void(0)" title="Skype">Skype</a></li>
                <li class="email"><a href="javascript:void(0)" title="Email">email</a></li>
                <li class="linkedin"><a href="javascript:void(0)">linkedin</a></li>
                <li class="twitter"><a href="javascript:void(0)" title="Twitter">twitter</a></li>
                <li class="Youtube"><a href="javascript:void(0)" title="Youtube">Youtube</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <header class="header">
        <a href="javascript:void(0);" class="mobile-menu-btn">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="main-menu main-menu-left">
          <ul class="menu">
            <li class="menu-item menu-item--expanded"><a href="javascript:void(0);">Home</a></li>
            <li class="menu-item menu-item--expanded"><a href="javascript:void(0);">About Us</a>
              <ul class="menu text-slide">
                <li class="menu-item"><a href="javascript:void(0);">Testimonials</a></li>
                <li class="menu-item"><a href="javascript:void(0);">Our Team</a></li>
                <li class="menu-item"><a href="javascript:void(0);">Team Testimonials</a></li>
                <li class="menu-item"><a href="javascript:void(0);">News</a></li>
              </ul>
            </li>
            <li class="menu-item"><a href="javascript:void(0);">Portfolio</a></li>
          </ul>
        </div>
        <a href="" class="logo navbar-btn">
          <img src="../assets/images/logo1_0.png"/>
        </a>
        <div class="main-menu main-menu-right">
          <ul class="menu">
            <li class="menu-item menu-item--expanded"><a href="javascript:void(0);">Services </a>
              <ul class="menu text-slide">
                <li class="menu-item"><a href="javascript:void(0);">Drupal Development Services</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item--expanded"><a href="javascript:void(0);">contact</a>
              <ul class="menu text-slide">
                <li class="menu-item"><a href="javascript:void(0);">Careers</a></li>
              </ul>
            </li>
            <li class="menu-item"><a href="javascript:void(0);">Blog</a></li>
          </ul>
        </div>
      </header>
    </div>
    <div class="header-bg black-bg"></div>