<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Home Blog</title>

    <!-- Bootstrap -->
    <link href="../assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="section-title">LATEST WORK</h2>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="latest-blog-wrap blog-lg">
            <div class="blog-img">
              <img src="../assets/images/new-blog-addweb.jpg">
            </div>
            <div class="image-caption">
              <div class="profile-wrap">
                <a href="" class="img-radius"><img src="../assets/images/vivek.png"></a>
                <h3><a href="">Admin</a></h3>
                <div class="blog-date">13 june 2017</div>
              </div>
              <div class="blog-info">
                <h3><a href="">Drupal Camp Frankfurt 2017</a></h3>
                <a href="" class="read-more-icon">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="latest-blog-wrap grid-50">
            <div class="blog-img">
              <img src="../assets/images/new-blog-addweb.jpg">
            </div>
            <div class="image-caption">
              <div class="blog-info">
                <h4><a href="">Drupal Camp Frankfurt 2017</a></h4>
              </div>
              <div class="profile-wrap">
                <div class="blog-date">13 june 2017</div>
                  <a href="">Admin</a>
                  <a href="" class="img-radius"><img src="../assets/images/vivek.png"></a>
              </div>
            </div>
          </div>
          <div class="latest-blog-wrap grid-50">
            <div class="blog-img">
              <img src="../assets/images/new-blog-addweb.jpg">
            </div>
            <div class="image-caption">
              <div class="blog-info">
                <h4><a href="">Drupal Camp Frankfurt 2017</a></h4>
              </div>
              <div class="profile-wrap">
                <div class="blog-date">13 june 2017</div>
                  <a href="">Admin</a>
                  <a href="" class="img-radius"><img src="../assets/images/vivek.png"></a>
              </div>
            </div>
          </div>
          <div class="latest-blog-wrap grid-50">
            <div class="blog-img">
              <img src="../assets/images/new-blog-addweb.jpg">
            </div>
            <div class="image-caption">
              <div class="blog-info">
                <h4><a href="">Drupal Camp Frankfurt 2017</a></h4>
              </div>
              <div class="profile-wrap">
                <div class="blog-date">13 june 2017</div>
                  <a href="">Admin</a>
                  <a href="" class="img-radius"><img src="../assets/images/vivek.png"></a>
              </div>
            </div>
          </div>
          <div class="latest-blog-wrap grid-50">
            <div class="blog-img">
              <img src="../assets/images/new-blog-addweb.jpg">
            </div>
            <div class="image-caption">
              <div class="blog-info">
                <h4><a href="">Drupal Camp Frankfurt 2017</a></h4>
              </div>
              <div class="profile-wrap">
                <div class="blog-date">13 june 2017</div>
                  <a href="">Admin</a>
                  <a href="" class="img-radius"><img src="../assets/images/vivek.png"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery library -->
    <script src="../assets/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/site.min.js"></script>
  </body>
</html>
