/**
 * @file
 * SCSS file to generate CSS.
 *
 * Cards design.
 */

/* blog cards design */
.blog-wraper-main {
  display: inline-block;
  width: 100%;
  .blogs__wrapper {
    float: left;
    display: inline-block;
    width: 48%;
    margin-right: 4%;
    padding-bottom: 40px;
    @media (max-width: 992px) {
      width: 100%;
      margin-right: 0;
    }
    &:nth-child(2n) {
      clear: left;
    }
    &:nth-child(2n + 1) {
      margin-right: 0;
    }
    &:nth-child(2),
    &:nth-child(3) {
      clear: right;
      margin-right: 0;
    }
    .blogs__upper {
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
      > div {
        float: left;
        width: 50%;
      }
      .blogs__upper__right {
        padding-left: 15px;
      }
      @media (max-width: 1200px) {
        .blogs__upper__left {
          max-width: 225px;
        }
        .blogs__upper__right {
          @include calc('width', '100% - 225px');
        }
      }
      @media (max-width: 480px) {
        .blogs__upper__left,
        .blogs__upper__right {
          max-width: 100%;
          width: 100%;
          padding-left: 0;
        }
      }
    }
    .blog__title {
      margin-bottom: 10px;
      a {
        font-size: $font-size-17;
      }
    }
    &:first-child {
      margin-right: 4%;
      .blogs__upper {
        > div {
          width: 100%;
        }
        .blogs__upper__left {
          margin-bottom: 20px;
        }
        .blogs__upper__right {
          padding-left: 0;
        }
      }
    }
  }
  .blogs__bottom {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid $grey-cc;
    border-bottom: 1px solid $grey-cc;
    img {
      height: 25px;
      width: 25px;
    }
    a,
    > div {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
/* End */

/* Latest blog card design */
.latest-blog-wrap {
  position: relative;
  &.blog-lg {
    .image-caption {
      padding: 0;
      img {
        height: 50px;
        width: 50px;
      }
    }
    .blog-date {
      &::after { display: none; }
    }
    .read-more-icon {
      display: inline-block;
      margin-top: 30px;
    }
    .profile-wrap {
      float: left;
      width: 33%;
      padding: 15px;
      background-color: $purple;
      text-align: center;
    }
    .blog-info {
      float: left;
      width: 67%;
      padding: 15px 10px;
    }
  }
}
/* End */

/* Hire developers card design */
.card-board-wrap {
  padding: 60px 0;
}
.card {
  min-height: 370px;
  margin-bottom: 30px;
  padding: 15px 20px;
  background-color: $white;
  @include box-shadow(0 2px 7px 0 rgba($black, .5));
  .card__title {
    margin: 15px 0;
    a {
      color: $black;
      font-size: $font-size-20;
    }
  }
  .card__content {
    font-size: $font-size-16;
    line-height: 25px;
    p {
      font-size: inherit;
      line-height: inherit;
      font-family: $opensans-light;
    }
    a {
      display: inline-block;
      padding-top: 20px;
      letter-spacing: 1.5px;
      text-decoration: underline;
    }
  }
  &:hover {
    background-color: $blue-b1;
    color: $white;
    a {
      color: $white;
    }
  }
}
/* End */
