/**
 * @file
 * SCSS file to generate CSS.
 *
 * Filter design.
 */

.filter {
  /* code */
}
.filter__links {
  ul {
    text-align: center;
    li {
      display: inline-block;
      width: auto;
      margin: 0 .5vw;
      label {
        float: left;
        height: 100%;
        width: 100%;
        padding: 1vw 2vw;
        border: 2px solid $black;
        color: $black;
        font-size: 1.4rem;
        cursor: pointer;
        @include border-radius(4px);
        &.active,
        &:hover {
          border: 2px solid $blue-00;
          background-color: $blue-00;
          color: $white;
        }
      }
      input[type='radio'] {
        position: absolute;
        opacity: 0;
      }
    }
  }
}
.filter__content {
  .filter__item {
    display: inline-block;
    width: 100%;
    margin: 0 0 30px;
    padding: 2vw;
    border: 1px solid $grey-f1;
    border-bottom-width: 4px;
    background-color: $grey-fc;
    .filter__item-img {
      float: left;
      min-height: 76px;
      width: 76px;
      margin: 0 2vw 0 0;
      border: 1px solid #grey-f1;
      background-color: $grey-fc;
      background-image: url('../images/no-image.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70% auto;
      @include border-radius(8px);
      img {
        height: auto;
        width: 100%;
      }
    }
    .filter__item-body {
      float: left;
      display: inline-block;
      @include calc('width', '100% - 76px - 2vw');
      margin: 0;
    }
  }
}
