/**
 * @file
 * SCSS file to generate CSS.
 *
 * Components design.
 */

ul.social-icons {
  display: inline-block;
  li {
    float: left;
    padding: 0 4px;
    &:last-child {
      padding-right: 0;
    }
    a {
      display: inline-block;
      color: $white;
      font-size: 0;
      @include transition(all .5s ease);
      &:hover,
      &:focus,
      &:visited,
      &:active { text-decoration: none; }
      &::before {
        display: inline-block;
        /*height: 20px;
        width: 20px;*/
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        font-family: FontAwesome;
        content: '\f1a9';
        @media (max-width: 1200px) { font-size: 16px;}
      }
    }
    &.drupal {
      &:hover {
        a { color: $blue-07; }
      }
    }
    &.facebook {
      &:hover {
        a {
          color: $blue-3b;
        }
      }
      a {
        &::before { content: '\f09a'; }
      }
    }
    &.googleplus {
      &:hover {
        a { color: $red-db; }
      }
      a {
        &::before { content: '\f0d5'; }
      }
    }
    &.skype {
      &:hover {
        a { color: $sky-55; }
      }
      a {
        &::before { content: '\f17e'; }
      }
    }
    &.email {
      &:hover {
        a { color: $red-dc; }
      }
      a {
        &::before { content: '\f003'; }
      }
    }
    &.linkedin {
      &:hover {
        a { color: $blue-01; }
      }
      a {
        &::before { content: '\f0e1'; }
      }
    }
    &.twitter {
      &:hover {
        a { color: $sky-1d; }
      }
      a {
        &::before { content: '\f099'; }
      }
    }
    &.Youtube {
      &:hover {
        a { color: $red-c2; }
      }
      a {
        &::before { content: '\f16a'; }
      }
    }
  }
}

/* Social icon Zoom effect */
.social-animation-icons {
  &:hover {
    li {
      a {
        opacity: .8;
        @include transition(all .5s ease);
        @include transform(scale(.8));
      }
      &:hover {
        a {
          opacity: 1;
          @include transform(scale(1.4));
        }
      }
    }
  }
}
/* End */

/* Social color icon design */
.social-color-icons {
  display: inline-block;
  text-align: center;
  .share-title {
    margin-bottom: 18px;
    color: $black-4a;
    font-size: $font-size-13;
    font-family: $opensans-semibold;
    text-transform: uppercase;
    opacity: .5;
  }

  .social-icons {
    width: 100%;
    li {
      width: 100%;
      margin-bottom: 10px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        &::before {
          font-size: 30px;
        }
      }
      &.facebook {
        a {
          color: $blue-3b;
        }
      }
      &.twitter {
        a {
          color: $sky-1d;
        }
      }
      &.googleplus {
        a {
          color: $red-db;
          &::before { font-size: 25px; }
        }
      }
    }
  }
}
