/**
 * @file
 * SCSS file to generate CSS.
 *
 * Buttons SCSS
 */

.btn {
  &.btn-switch {
    /* code */
  }
}


/* Buttons design */
.btn {
  position: relative;
  display: inline-block;
  height: 38px;
  width: 122px;
  padding: 6px 15px;
  border: 2px solid $blue-6f;
  @include background ($blue-15, $blue-15, $blue-86, $blue-86);
  @include border-radius(4px);
  color: $white;
  font-size: $font-size-16;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  @include box-shadow(none);
  &:hover,
  &:active,
  &:visited,
  &:focus,
  &:active:focus {
    @include background ($blue-72, $blue-72, $dark-blue, $dark-blue);
    color: $white;
  }
}

.btn-md {
  height: 64px;
  width: 270px;
  padding: 15px;
  font-size: $font-size-24;
}

.btn-sm {
  height: 50px;
  width: 162px;
  padding: 9px;
}

.btn-lg {
  width: 100%;
}

.btn-grey {
  background-color: $grey-e7;
  background-image: none;
  color: $black-4a;
  &:hover,
  &:focus,
  &:active,
  &:focus:active {
    background-color: $grey-e7;
    background-image: none;
    color: $black-4a;
  }
}

.btn-switch {
  height: auto;
  width: auto;
  padding: .4vw .6vw 0;
  border: none;
  @include box-shadow(0 4px 0 0 rgba(192, 192, 192, .8));
  &:hover {
    top: 1px;
    @include box-shadow(0 3px 0 0 rgba(192, 192, 192, .8));
  }
  &:focus {
    top: 2px;
    @include box-shadow(0 2px 0 0 rgba(192, 192, 192, .8));
  }
}

/* Left top bottom borader radius 0 */
.radius-top-bottom-left-0 {
  @include border-radius(0 3px 3px 0);
}
/* Right top bottom borader radius 0 */
.radius-top-bottom-right-0 {
  @include border-radius(3px 0 0 3px);
}
