/**
 * @file
 * SCSS file to generate CSS.
 *
 * Design of Typography.
 */


/**
 * Header, Paragraph & Text
 */
.font-blue-italic {
  color: $blue-link;
  font-style: italic;
  font-family: $opensans-italic;
}
.font-lg {
  font-size: $font-size-26;
}


/* Alignment */
.flex { @include flexbox(); }
.inline-flex { @include inline-flex; }
.flex-wrap { @include flex-wrap(wrap) }
.vertical-align-top { @include align-items(flex-start); }
.vertical-align-bottom { @include align-items(flex-end); }
.vertical-align-middle { @include align-items(center); }

/* Bottom dotted border title design */
.title-border {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted $black-4a;
  font-size: $font-size-20;
  font-family: $opensans-semibold;
}

/* Link design */
.blue-link {
  a:not(.btn) {
    color: $blue-link;
    &:hover {
      color: $black-4a;
    }
  }
}

/* Page title design */
.page-title {
  display: inline-block;
  margin: 30px 0;
  padding-bottom: 5px;
  border-bottom: 5px solid $black;
  font-size: $font-size-30;
  font-family: $opensans-bold;
}
/* End */

/* Blog Title design */
.blog-title {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  font-size: $font-size-20;
  font-family: $opensans-semibold;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  a {
    color: $black-4a;
  }
}
/* End */

/* Section title design */
.section-title {
  margin-bottom: 30px;
  color: rgba($black-4a, .9);
  font-size: $font-size-22;
  font-family: $opensans-semibold;
  text-transform: uppercase;
}
/* End */

/* Italic Title design */
.title--italic {
  margin-bottom: 40px;
  font-size: $font-size-33;
  font-family: $opensans-bolditalic;
  text-transform: capitalize;
}
/* End */

/* Read more icon design */
.read-more-icon {
  position: relative;
  &::after {
    position: absolute;
    top: 50%;
    left: 100%;
    display: inline-block;
    height: 14px;
    width: 9px;
    margin-top: -7px;
    margin-left: 10px;
    background-image: url('../images/read-more-icon.png');
    background-repeat: no-repeat;
    content: '';
  }
}
/* End */

/* Heading text design */
.text {
  font-size: $font-size-16;
  line-height: 25px;
}
/* End */

/* Title large fonts design */
.title-lg {
  margin-bottom: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid $grey-c6;
  font-size: $font-size-40;
  @media (max-width: 992px) {
    font-size: $font-size-30;
  }
}
/* End */

/* Double Color title text design */
.double-color-title {
  color: $black-31;
  font-size: $font-size-33;
  .blue-text {
    color: $blue-07;
    font-size: inherit;
    line-height: inherit;
  }
}
/* End */
