/**
 * @file
 * SCSS file for variables.
 *
 * All variables used in SCSS are defined in this file.
 */


/**
 * Font face
 */
$opensans-extrabold: 'OpenSans Extrabold';
$opensans-bold: 'OpenSans Bold';
$opensans-semibold: 'OpenSans SemiBold';
$opensans-bolditalic: 'OpenSans BoldItalic';
$opensans-italic: 'OpenSans Italic';
$opensans-regular: 'OpenSans Regular';
$opensans-light: 'OpenSans light';

/* URLs */
$url-opensans-extrabold: url('../fonts/OpenSans/OpenSans-ExtraBold.woff');
$url-opensans-bold: url('../fonts/OpenSans/OpenSans-Bold.woff');
$url-opensans-semibold: url('../fonts/OpenSans/OpenSans-Semibold.woff');
$url-opensans-bolditalic: url('../fonts/OpenSans/OpenSans-BoldItalic.woff');
$url-opensans-italic: url('../fonts/OpenSans/OpenSans-Italic.woff');
$url-opensans-regular: url('../fonts/OpenSans/OpenSans-Regular.woff');
$url-opensans-light: url('../fonts/OpenSans/OpenSans-Light.woff');


/* Color code */
$white:     #FFF;
$black:     #000;
$grey-cc:   #CCC;
$black-44:  #444;
$black-4a:  #4A4A4A;
$blue-link: #0B78BD;
$gray-47:   #474747;
$gray-b8:   #B8B8B8;
$grey-c8:   #C8C8C8;
$blue-00:   #0055A8;
$blue-6f:   #06486F;
$blue-15:   #155C86;
$blue-86:   #085786;
$dark-blue: #0D4769;
$blue-72:   #0A4B72;
$purple:    #4D309E;
$orange:    #B13A0A;
$orange-f4: #F4A460;
$blue-b1:   #0067B1;


// Icons images
$contact-icon: url('../images/contact-icons.png');



/* Font size */
$font-size-base: 16px;


$font-size-10: .625rem; //10px
$font-size-11: .6875rem; //11px
$font-size-12: .75rem; //12px
$font-size-13: .8125rem; //13px
$font-size-14: .875rem; //14px
$font-size-15: .9375rem; //15px
$font-size-16: 1rem; //16px
$font-size-17: 1.0625rem; //17px
$font-size-18: 1.125rem; //18px
$font-size-19: 1.1875rem; //19px
$font-size-20: 1.25rem; //20px
$font-size-21: 1.3125rem; //21px
$font-size-22: 1.375rem; //22px
$font-size-23: 1.4375rem; //23px
$font-size-24: 1.5rem; //24px
$font-size-25: 1.5625rem; //25px
$font-size-26: 1.625rem; //26px
$font-size-27: 1.6875rem; //27px
$font-size-28: 1.75rem; //28px
$font-size-29: 1.8125rem; //29px
$font-size-30: 1.875rem; //30px
$font-size-36: 2.25rem; //36px
$font-size-40: 2.5rem; //40px
$font-size-50: 3.125rem; //50px
$font-size-60: 3.75rem; // 60px
$font-size-80: 5rem; // 80px
$font-size-100: 6.25rem; // 100px
$font-size-160: 10rem; // 160px

/**
 * Media query (for responsive design)
 */
$small-desktop: 1200px;
$ipad: 1024px;
$ipad-portrait: 992px;
$mobile: 767px;
$mobile-landscape: 600px;
$mobile-portrait: 480px;
$small-mobile-portrait: 360px;
/* End */
